@import '../../../assets/styles/vars';
@import '../../../assets/styles/extends';

.card {
  @extend %colored-line;
  border-radius: 6px;
  overflow: hidden;
  background: $mid-grey;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;

  &.dragging {
    opacity: 0.7;
  }

  &.active {
    outline: 2px solid $light-grey;
  }
}

.content {
  padding: 8px 8px 8px 16px;
}

.number {
  color: $light-grey;
}

.title {
  color: $white;
}