%colored-line {
  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:global {
    &.MUST {
      &::before {
        background: $red;
      }
    }

    &.SHOULD {
      &::before {
        background: $orange;
      }
    }

    &.COULD {
      &::before {
        background: $green;
      }
    }
  }
}