$mid-blue: #406380;
$dark-blue: #0b1a26;
$mid-grey: #333a40;
$dark-grey: #0b1a26;
$light-grey: #80929d;
$red: #c22731;
$orange: #cc7832;
$yellow: #bbb529;
$dark-main: #062640;
$white: #fff;
$black: #000;
$green: #0cba0c;

$default-border: 1px solid $mid-blue;